#p1gup
{
    -fx-background-image: url("../../images/guiimages/giveup.jpg");
}
#accept:hover
{
    -fx-background-color: black;
    -fx-text-fill: white;
}
#accept:pressed
{
    -fx-background-color:black;
    -fx-text-fill:red;
}