#accept
{
    -fx-border-insets: 10;
    -fx-border-radius: 22;
    -fx-background-color: black;
    -fx-text-fill: white;
}
#accept:hover
{
    -fx-background-color: darkblue;
    -fx-text-fill: white;
}
#accept:pressed
{
    -fx-background-color: blue;
    -fx-text-fill:black;
}
#highscoreback
{
    -fx-background-image: url("../../images/guiimages/resultback.jpg");
}
#tableview
{
   -fx-background-color: black;
    -fx-text-fill: white;
}